<div>
  <ul class="nav nav-tabs">
    <li class="nav-item" [ngClass]="{active: chosenList === 'All'}">
      <a (click)="onChoose('All')" style="cursor: pointer" class="nav-link active">All</a>
    </li>
    <li class="nav-item"  [ngClass]="{active: chosenList === 'Light'}">
      <a (click)="onChoose('Light')" style="cursor: pointer" class="nav-link active">Light</a>
    </li>
    <li class="nav-item"  [ngClass]="{active: chosenList === 'Dark'}">
       <a (click)="onChoose('Dark')" style="cursor: pointer" class="nav-link active">Dark</a>
      </li>
  </ul>
  <app-list [characters]='getCharacters()' ></app-list>
</div>
